type {{pascalCase name}}Props = {}

export default function {{pascalCase name}}(props: {{pascalCase name}}Props) {
  const {} = props;

  return (
    <div>
      {{pascalCase name}} works!
    </div>
  )
}