type {{pascalCase name}}Props = Record<string, unknown>;

export function {{pascalCase name}}(props: {{pascalCase name}}Props) {
  const {} = props;

  return (
    <div>
      {{pascalCase name}} works!
    </div>
  )
}