@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

#__next {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

strong {
  font-weight: theme("fontWeight.bold");
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: theme("colors.neutral.400");
}

input::placeholder,
textarea::placeholder,
input[type="date"]::before,
input[type="date"]::after,
input[type="file"]::after {
  color: theme("colors.neutral.400");
}

input::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

input[type="file"],
input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input::-webkit-date-and-time-value {
  width: auto;
  text-align: left;
}
